body {
  font-family: system-ui, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
  padding: 20px;
}

input, textarea, button {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border-radius: 6px;
  border: none;
}

button {
  background: #38bdf8;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}

.stars i {
  cursor: pointer;
  color: gold;
  font-size: 20px;
}

.card {
  background: #020617;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 12px;
}

.vote button {
  width: auto;
  margin-right: 6px;
}
